h1 {
    color: #333;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}